#                                                     Assignment2

#                        above 25 question completed in assignment1

# Question 26. What is a string? How can we declare string in Python?

In [ ]:
#solution:
# string is an object which store sequence of characters or any text between single or double quotes

# string in python are immutable

# declaration:
#     string1=""    empty string
#     string2="absnngd"

# Question 27. How can we access the string using its index?

In [4]:
# solution:
#     we can acess the string using its index through square bracket like as we do in array
# eg
# string1="siva kumar sahoo"
# print(string1[11])

s

# Question 28. Write a code to get the desired output of the following

# string = "Big Data iNeuron"
# desired_output = "iNeuron"

In [1]:
string="Big Data iNeuron"
print(string[9:len(string)])

iNeuron

# Question 29. Write a code to get the desired output of the following

# string = "Big Data iNeuron"
# desired_output = "norueNi"

In [3]:
string="Big Data iNeuron"
print(string[len(string)-1:8:-1])

norueNi

# Question 30. Resverse the string given in the above question.

In [4]:
string="Big Data iNeuron"
print(string[len(string)-1::-1])

norueNi ataD giB

# Question 31. How can you delete entire string at once?

In [7]:
# solution: using del command
string1="hello"
del(string1)

# Question 32. What is escape sequence?

In [ ]:
# solution:
# escape sequence contain a backslash(\) symbol followed by octal or hexadecimal number
# eg: \t for spaces, \n for new line ,\' for quote

# Question 33. How can you print the below string?

# 'iNeuron's Big Data Course'

In [6]:
print("'iNeuron\'s Big Data Course'")

'iNeuron's Big Data Course'

# Question 34. What is a list in Python?

In [ ]:
# solution:
#     Python Lists are just like dynamically sized arrays
#     The list is a sequence data type which is used to store the collection of data
#     it is not homogenous like array in other languages
#     lists are mutable
#     A single list may contain DataTypes like Integers, Strings, as well as Objects

# Question 35. How can you create a list in Python?

In [11]:
a1=[]
print(type(a1))

<class 'list'>

# Question 36. How can we access the elements in a list?

In [10]:
# solution:
#     we can acess the element in a list through square bracket
#     eg:
a1=[23,45,98,13,17,39]
print(a1[3])

13

# Question 37. Write a code to access the word "iNeuron" from the given list.

# lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

In [7]:
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
print(lst[4][2])

iNeuron

# Question 38. Take a list as an input from the user and find the length of the list.

In [2]:
list1=[]
for i in range(5):
    list1.append(int(input("enter values ")))
print(len(list1))

enter values 91
enter values 92
enter values 97
enter values 98
enter values 99
5

# Question 39. Add the word "Big" in the 3rd index of the given list.

# lst = ["Welcome", "to", "Data", "course"]

In [6]:
# solution:
list1 = ["Welcome", "to", "Data", "course"]
list1.insert(0,"ss")
print(list1)

['ss', 'Welcome', 'to', 'Data', 'course']

# Question 40. What is a tuple? How is it different from list?

In [ ]:
# solution:
    # tuple is a collection of object seperated by comma
# it is smiliar to list in python
# through indexing we can acess data from tuples
# but tuple is immutable (list is mutable) after creating tuple we can't change

# Question 41. How can you create a tuple in Python?

In [48]:
# solution:
#     using bracket() we can create tuple
tuple1=()
print(type(tuple1))
tuple2=(1,2,3,4)
print(type(tuple2))

<class 'tuple'>
<class 'tuple'>

# Question 42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

In [41]:
# Solution: NO
#     we can't add or insert element in tuple because it is immutable

# Question 43. Can two tuple be appended. If yes, write a code for it. If not, why?

In [50]:
# solution:
#     yes two tuple can concatenate
a=(1,2,3)
b=(4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

# Question 44. Take a tuple as an input and print the count of elements in it.

In [51]:
list1=[]
for i in range(6):
    list1.append(int(input("enter values")))
print(tuple(list1))

enter values91
enter values95
enter values96
enter values97
enter values98
enter values99
(91, 95, 96, 97, 98, 99)

# Question 45. What are sets in Python?

In [ ]:
# solution:
#     set is an unordered collection of data type that is iterable,mutable and has unique element

# Question 46. How can you create a set?

In [54]:
# solution:
#     method1
set1=set()
print(type(set1))
#     method2
set2={1,2}
print(type(set2))

<class 'set'>
<class 'set'>

# Question 47. Create a set and add "iNeuron" in your set.

In [59]:
# solution:
set1=set()
set1.add('iNeuron')
print(set1)

{'iNeuron'}

# Question 48. Try to add multiple values using add() function.

In [60]:
set1=set()
for i in range(5):
    set1.add(input("enter values "))
print(set1)

enter values fhnldf
enter values dmsnk
enter values dbjs
enter values cgskn'
enter values cfsjn
{'cfsjn', 'dbjs', "cgskn'", 'fhnldf', 'dmsnk'}

# Question 49. How is update() different from add()?

In [67]:
# solution:
#     add element is used to add single element in set
#     update element is used to add multiple element in set
set1={1,2,3,45,7}
set1.add(51)
print(set1)
set1.update([12,87,64])
print(set1)

{1, 2, 3, 51, 7, 45}
{64, 1, 2, 3, 7, 12, 87, 45, 51}

# Question 50. What is clear() in sets?

In [62]:
# solution:
#     clear() is uesd to remove all element in set
    
set1={1,2,3,9,4,5,7}
print(set1)
set1.clear()
print(set1)

{1, 2, 3, 4, 5, 7, 9}
set()

# Question 51. What is frozen set?

In [ ]:
# solution:
#     frozen sets is unordered collection of data types
#     frozen sets are immutable

# Question 52. How is frozen set different from set?

In [ ]:
# solution:
# set is mutable
# frozen set is immutable

# Question 53. What is union() in sets? Explain via code.

In [69]:
# solution:
#     comine two set 
# symbol(|)
set1={1,2,3}
set2={2,3,4,5}
print(set1|set2)

{1, 2, 3, 4, 5}

# Question 54. What is intersection() in sets? Explain via code.

In [71]:
# solution:
#     join common elements in both set
#     symbol(&)
set1={1,2,3}
set2={2,3,4,5}
print(set1&set2)

{2, 3}

# Question 55. What is dictionary in Python?

In [ ]:
# solution:
#     dictionary is a collection of key value pairs
#     key part should be either int or string
#     value can be any data type
#     it is mutable

# Question 56. How is dictionary different from all other data structures.

In [ ]:
# solution:
#     in other data structure single value represent an element, here in dictionary key-value combine represent a single element

# Question 57. How can we delare a dictionary in Python?

In [74]:
dict1={}
dict2={"apple":"red"}

# Question 58. What will the output of the following?

# var = {}
# print(type(var))

In [ ]:
# solution:
#     dictionary

# Question 59. How can we add an element in a dictionary?

In [83]:
dict1={}
dict1["one"]=1
print(dict1)
dict1.update({"two":2})
print(dict1)
dict1.__setitem__("three",3)
print(dict1)

{'one': 1}
{'one': 1, 'two': 2}
{'one': 1, 'two': 2, 'three': 3}

# Question 60. Create a dictionary and access all the values in that dictionary.

In [84]:
# solution:
dict3={"one":1,"two":2,"three":3,"four":4,"five":5}
for key,value in dict3.items():
    print(key, value)

one 1
two 2
three 3
four 4
five 5

# Question 61. Create a nested dictionary and access all the element in the inner dictionary.

In [85]:
# solution:
people = {1: {'Name': 'John', 'Age': '27', 'Sex': 'Male'},
          2: {'Name': 'Marie', 'Age': '22', 'Sex': 'Female'}}
for key,value in people.items():
    print(key)
    for ikey,ivalue in value.items():
        print(ikey,ivalue)

1
Name John
Age 27
Sex Male
2
Name Marie
Age 22
Sex Female

# Question 62. What is the use of get() function?

In [86]:
# solution:
# get the value
dict3={"one":1,"two":2,"three":3,"four":4,"five":5}
dict3.get("one")

1

# Question 63. What is the use of items() function?

In [88]:
# solution:
# item() is used to return the list with key and value
for k,v in dict3.items():
    print(k,v)

one 1
two 2
three 3
four 4
five 5

# Question 64. What is the use of pop() function?

In [92]:
# solution:
#     remove element
dict3.pop("five")
print(dict3)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

# Question 65. What is the use of popitem() function?

In [95]:
# solution:
#     remove last element
print(dict3)
dict3.popitem()
print(dict3)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}
{'one': 1, 'two': 2, 'three': 3}

# Question 66. What is the use of keys() function?

In [96]:
# solution:
# print all keys
print(dict3.keys())

dict_keys(['one', 'two', 'three'])

# Question 67. What is the use of values() function?

In [97]:
# solution:
# print all value
print(dict3.values())

dict_values([1, 2, 3])

# Question 68. What are loops in Python?

In [ ]:
# solution:
#     loop is a block of instruction that is continually repeated until a cretain condition is reaced

# Question 69. How many type of loop are there in Python?

In [ ]:
# solution:
#     for loop
#     while loop
#     do-while loop

# Question 70. What is the difference between for and while loops?

In [ ]:
# solution:
#     for loop=> when number of iteration is known
#     while loop=>when number of iteration is not known

# Question 71. What is the use of continue statement?

In [ ]:
# solution:
#     to skip a sequence of loop when certain condition meet

# Question 72. What is the use of break statement?

In [ ]:
# solution:
#     to end the loop when certain condition meet

# Question 73. What is the use of pass statement?

In [ ]:
solution:
    when pass statement executed nothing happens but you avoid getting an error when empty code is not allowed

# Question 74. What is the use of range() function?

In [ ]:
# solution:
#     return a sequence of number in a given range
# range(start,stop,step)

# Question 75. How can you loop over a dictionary?

In [98]:
for k,v in dict3.items():
    print(k,v)

one 1
two 2
three 3

# Question 76. Write a Python program to find the factorial of a given number.

In [3]:
num=5
ans=1
for value in range(1,num+1):
    ans*=value
print(ans)

120

# Question 77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100

In [4]:
principal=10000
rate=3
time=4
simple_interest=(principal*rate*time)/100
print(simple_interest)

1200.0

# Question 78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [6]:
principal=10000
rate=3
time=4
compound_interest=principal*(1+rate/100)**time
print(compound_interest)

11255.0881

# Question 79. Write a Python program to check if a number is prime or not.

In [9]:
num=12
value=2
while(value<num):
    if(num%value==0):
        print("not a prime ")
        break
    value+=1
else:
    print("prime")

not a prime

# Question 80. Write a Python program to check Armstrong Number.

In [16]:
num=187
ans=num
ans2=0
while(num>0):
    ans2+=(num%10)**3
    num=num//10
if(ans==ans2):
    print("armstrong numbers")
else:
    print("not a armstrong numbers")

not a armstrong numbers

# Question 81. Write a Python program to find the n-th Fibonacci Number.

In [22]:
def fib(n):
    first=0
    second=1
    if(n==1):
        return first
    while(n>2):
        ans=first+second
        first=second
        second=ans
        n=n-1
    return second


n=int(input("enter number "))
print(fib(n))

enter number 5
3

# Question 82. Write a Python program to interchange the first and last element in a list.

In [26]:
list1=[2,7,9,5,1,6,3,4]
temp=list1[0]
list1[0]=list1[len(list1)-1]
list1[len(list1)-1]=temp
print(list1)

[4, 7, 9, 5, 1, 6, 3, 2]

# Question 83. Write a Python program to swap two elements in a list.

In [27]:
list1=[4,2,7,9,6,1,5]
index1=int(input("enter value  "))
index2=int(input("enter value  "))
temp=list1[index1]
list1[index1]=list1[index2]
list1[index2]=temp
print(list1)

enter value  3
enter value  6
[4, 2, 7, 5, 6, 1, 9]

# Question 84. Write a Python program to find N largest element from a list.

In [25]:
n=int(input("enter your number "))
list1=[2,7,9,5,1,6,3,4]
list1.sort()
print(list1[:n])

enter your number 3
[1, 2, 3]

# Question 85. Write a Python program to find cumulative sum of a list.

In [23]:
list1=[1,2,3,4,5,6,7,8,9,10]
print(sum(list1))

55

# Question 86. Write a Python program to check if a string is palindrome or not.

In [33]:
str1="mada"
str2=str1[len(str1)-1::-1]
if(str1==str2):
    print("palindrome")
else:
    print("not a palindrome")

not a palindrome

# Question 87. Write a Python program to remove i'th element from a string.

In [35]:
str1="madam"
index=int(input("enter index "))
str1=str1[:index]+str1[index+1:]
print(str1)

enter index 2
maam

# Question 88. Write a Python program to check if a substring is present in a given string.

In [39]:
str1="ndi"
str2="india"
print(str1 in str2)

True

# Question 89. Write a Python program to find words which are greater than given length k.

In [2]:
str="hello how are you i am fine"
k=3
a=str.split(" ")
for value in a:
    if len(value)>k:
        print(value)

hello
fine

# Question 90. Write a Python program to extract unquire dictionary values.

In [106]:
# solution:
dict1 = {'gfg' : [5, 6, 7, 8],
            'is' : [10, 11, 7, 5],
            'best' : [6, 12, 10, 8],
            'for' : [1, 2, 5]}
x=list(dict1.values())
y=[]
for i in x:
    y.extend(i)
z=set(y)
print(z)

{1, 2, 5, 6, 7, 8, 10, 11, 12}

# Question 91. Write a Python program to merge two dictionary.

In [112]:
# solution:
dict1 = {'one': 1, 'two': 2}
dict2 = {'two': 2, 'three': 3}
# 1
for k,v in dict2.items():
    dict1.update({k:v})
print(dict1)
#2
dict3 = {'one': 1, 'two': 2}
dict4 = {'two': 2, 'three': 3}
print(dict3|dict4)

{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3}

# Question 92. Write a Python program to convert a list of tuples into dictionary.

# Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]

# Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [58]:
list1=[('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
dict1={}
for i in list1:
    dict1[i[0]]=i[1]

print(dict1)

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

# Question 93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

# Input: list = [9, 5, 6]

# Output: [(9, 729), (5, 125), (6, 216)]

In [57]:
list1 = [9, 5, 6]
list2=[]
for value in list1:
    list2.append((value,value**3))
print(list2)

[(9, 729), (5, 125), (6, 216)]

# Question 94. Write a Python program to get all combinations of 2 tuples.

# Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)

# Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

In [56]:
tuple1 = (7, 2)
tuple2 = (7, 8)
list1=[]
for i in tuple1:
    for j in tuple2:
        list1.append((i,j))
for i in tuple2:
    for j in tuple1:
        list1.append((i,j))
print(list1)

[(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

# Question 95. Write a Python program to sort a list of tuples by second item.

# Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 

# Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [47]:
list1=[('for', 24), ('Geeks', 8), ('Geeks', 30)]

def solve(x):
    return x[1]
    
list1.sort(key=solve)
print(list1)

[('Geeks', 8), ('for', 24), ('Geeks', 30)]

# Question 96. Write a python program to print below pattern.

# * 
# * * 
# * * * 
# * * * * 
# * * * * *

In [41]:
for i in range(1,6):
    for j in range(0,i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

# Question 97. Write a python program to print below pattern.

In [ ]:
#     *
#    **
#   ***
#  ****
# *****

In [42]:
for i in range(1,6):
    for j in range(1,6-i):
        print(end=" ")
    for k in range(0,i):
        print("*",end="")
    print()

    *
   **
  ***
 ****
*****

# Question 98. Write a python program to print below pattern.

In [ ]:
#     * 
#    * * 
#   * * * 
#  * * * * 
# * * * * *

In [43]:
for i in range(1,6):
    for j in range(1,6-i):
        print(end=" ")
    for k in range(0,i):
        print("* ",end="")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

# Question 99. Write a python program to print below pattern.

# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5

In [39]:
for value in range(1,6):
    for value2 in range(1,value+1):
        print(value2,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Question 100. Write a python program to print below pattern.

# A 
# B B 
# C C C 
# D D D D 
# E E E E E

In [72]:
n=int(input("enter value "))
for value1 in range(1,n+1):
    for value2 in range(65,value1+65):
        print(chr(value1+65-1),end=" ")
    print()

enter value 5
A
B B
C C C
D D D D
E E E E E